<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">TeLlevoAPP</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-title size="large">Iniciar ruta</ion-title>
  <h4>Ingrese direccion</h4>

  <div class="logo"></div>

  <ion-button color="danger" class="ionBtn" expand="block" (click)="comenzarruta()">
    <ion-icon name="search-outline" style="margin-right: 3%;"></ion-icon>
    Iniciar
  </ion-button>

</ion-content>